

.searchContainer {
    position: relative;
}
.searchContainer input {
    border: 1px solid #a29e9e;
    padding: 1rem 3rem;
    border-radius: 2px;

}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
}